body{
    margin: 0;
}

.banner{
    background-color: black;
    color: white; 
    height: 30px;
    width: 100%;
    
}

.banner h2 {
    font-family: 'Asap Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0;
}

.title{
    padding: 1rem;
}

.title .grid-x{
    text-align: center;
    width: 100%;
    height: 70px;
}

.title .grid-x .name{
    font-size: 40px;
    font-weight: bold;
}

.title .grid-x .icon{
    font-weight: lighter;
    font-size: 30px;
    color: rgb(211, 96, 163);
}

.homepageImage{
    width: 100%; 
    height: 125px;
    background-image: url("images/placeholder.jpg"); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.collectionFeature{
    padding-top: 10px;
    margin-top: 20px;
    background-color: rgb(233, 230, 224);
}

.collectionFeature h2{
    font-family: 'Courier Prime', monospace;
    font-size: 25px;
    text-align: center;
}

.collectionFeature a{
    color: rgb(170, 230, 136);
    text-decoration: none;
}

.collectionFeature h1{
    font-family: 'Courier Prime', monospace;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}

.navigation {
    width: 100%;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}

.navigation ul {
    margin: 0 auto;
    padding: 10px;
    list-style: none;
    text-align: center;
  }

  .navigation ul li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .navigation ul li a {
    color: #111 ;
    text-decoration: none;
    font-weight: bold;
  }

  .navigation a:hover {
    color: rgb(170, 230, 136) ;
    font-weight: bolder;
  }